<app-background-image [backgroundImage]="backgroundImage">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{currentData?.name}}</h1>
    </div>
    <div class="col-12 text-center">
      <div class="row">
        <div class="col-12">
          <img [src]="image" alt="">
        </div>
        <div class="col-12">
          <h3>{{temperature}}&deg;C
            <h6>{{currentData?.weather[0].description}}</h6>
            <cite class="last_update">Last updated: {{lastUpdate}}</cite>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row text-white">
          <div class="col-12 d-flex justify-content-center">
            Feels Like: &nbsp;<cite>{{(currentData?.main.feels_like-273.15).toFixed(2)}}</cite>&nbsp;
            Wind: &nbsp;<cite>{{(currentData?.wind.speed*(18/5)).toFixed(2)}}km/h</cite>&nbsp;
            Visibility: &nbsp;<cite>{{(currentData?.visibility/1000).toFixed(0)}}km</cite>
          </div>
          <div class="col-12 d-flex justify-content-center">
            Sunrise: &nbsp;<cite>{{sunrise}}</cite>&nbsp;
            Sunset: &nbsp;<cite>{{sunset}}</cite>&nbsp;
            Humidity: &nbsp;<cite>{{currentData?.main.humidity}}%</cite>&nbsp;  
          </div>
          <br>
      </div>
    </div>
    <h1 class="text-center">Next 48 hours forecast</h1>
    <div class="col-12">
      <div class="row text-center">
        <div class="col-1" (click)="previousData()">
          <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-10">
          <div class="carousel slide multi-item-carousel" id="theCarousel" *ngFor="let data of hourly">
            <div class="carousel-inner">
              <div class="item-active">
                <div class="col-12"><img [src]="imageUrl(data?.weather['0'].icon)" class="img-responsive">
                  <p class="time-forecast">{{getDay(data.dt)}}</p>
                  <p class="time-forecast">{{changeTimeStamp(data?.dt)}}</p>
                  <p class="card-text">
                    <strong>{{(data?.temp-273.15).toFixed(2)}}&deg;C</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1" (click)="nextData()">
          <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <h1 class="text-center">Next 7 days forecast</h1>
    <div class="col-12 d-flex" >
      <div class="card-deck" >
        <div class="card" *ngFor="let data of futureData; let i = index;">
          <img class="card-img-top" [src]="imageUrl(data?.weather['0'].icon)" alt="Card image cap">
          <div class="card-body">
            <p class="card-title">{{getDay(data?.dt)}}</p>
            <p class="card-text">{{(data?.temp.max-273.15).toFixed(2)}}&deg;C
              <small class="text-muted">{{(data?.temp.min-273.15).toFixed(2)}}&deg;C</small>
            </p>
            <p class="card-text">{{data?.weather['0'].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-background-image>